.buy-button {
    padding: 4px 20px;
    font-size: 16px;
    border-radius: 20px;
    font-family: "Nobel Uno", Arial, sans-serif;
    font-weight: 800;
    background-color: var(--alice-blue);
    color: var(--indigo-dye);
    border: 1px solid var(--indigo-dye);
    cursor: pointer;
    transition: background-color 0.2s, box-shadow .2s, transform 0.2s;
    box-shadow: 0 4px 0 var(--indigo-dye);
    position: relative;
    top: 0;
    margin: 0 8px;
  }
  
  .buy-button:hover {
    background-color: var(--alice-dark);
  }

  .buy-button:active {
    transform: translateY(4px);
    box-shadow: 0 0px 0 var(--indigo-dye);
  }

  .topbar-icon {
    margin-top: 8px;
  }

  .credit-count {
    font-family: "Nobel Uno", Arial, sans-serif;
    color: var(--indigo-dye);
    font-size: 20px;
    font-weight: 800;
    margin: -4px 0 0 -4px;
    gap: 4px;
  }

  .credit-count.low {
    color: var(--warn-red);
  }