.main-container {
  display: flex;
  min-height: 100vh;
  overflow-y: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Apply custom scrollbar styles */
::-webkit-scrollbar {
  width: 6px; /* Scrollbar width */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #EEE; /* Track color */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #AAA; /* Thumb color */
  border-radius: 10px; /* Thumb border-radius */
}

/* Scrollbar thumb states */
::-webkit-scrollbar-thumb:hover {
  background: #999; /* Hover thumb color */
}

::-webkit-scrollbar-thumb:active {
  background: #777; /* Active thumb color */
}

