.course-view {
    padding: 0px;
    margin: 20px 30px 0 30px; /* top right bottom left */
    overflow-y: auto;
    -webkit-scrollbar: none;  /* Safari and Chrome */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

/* Hide webkit scrollbar */
.course-view::-webkit-scrollbar {
    display: none;
}

.course-title {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Nobel Uno', sans-serif !important;
    color: var(--indigo-dye);
    display: block;
    padding-top: 1.0rem;
}

.course-lesson-list {
    background-color: var(--porcelain);
    border-radius: 0.5rem;
    margin-top: 20px;
    padding: 30px;
    border: none;
    overflow: hidden;
    width: 100%;
}

.course-lesson-list-title {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Nobel Uno', sans-serif !important;
    color: var(--indigo-dye);
    background-color: var(--porcelain);
    border-radius: 0.5rem;
    padding: 15px 0px;
    border: none;
    overflow: hidden;
}

.course-lesson-item {
    padding: 10px 5px;
    border-radius: 0.5rem;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Nobel Uno', sans-serif !important;
    color: var(--indigo-dye);
    background-color: var(--porcelain);
}

.course-lesson-item:hover {
    background-color: var(--alice-blue);
    cursor: pointer;
}

.course-lesson-item-updated-at {
    font-size: 12px;
    font-weight: 400;
    color: var(--indigo-dye);
}

.course-lesson-list-add-lesson {
    padding: 10px 20px;
    border-radius: 1rem;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Nobel Uno', sans-serif !important;
    color: var(--indigo-dye);
    background-color: var(--porcelain);
    border: 2px solid var(--transparent-grey);
    margin-bottom: 10px;
    white-space: nowrap;
    width: min-content;
}

.course-lesson-list-add-lesson:hover {
    background-color: var(--alice-blue);
    cursor: pointer;
}

.practice-lesson-list {
    border-radius: 0.5rem;
    padding: 0px 30px;
    border: none;
    width: 100%;
}

.practice-lesson-list-title {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Nobel Uno', sans-serif !important;
    color: var(--indigo-dye);
    border-radius: 0.5rem;
    padding: 15px 0px;
    border: none;
    overflow: hidden;
}

.practice-lesson-item {
    padding: 8px 20px;
    font-size: 14;
    border-radius: 8px;
    font-family: "Nobel Uno", Arial, sans-serif;
    font-weight: 600;
    background-color: white;
    color: var(--indigo-dye);
    border: 1px solid var(--half-grey);
    cursor: pointer;
    box-shadow: 0 4px 0 var(--half-grey);
    position: relative;
    top: 0;
}

.practice-lesson-item:hover {
    background-color: var(--alice-blue);
    cursor: pointer;
}

.practice-lesson-item-updated-at {
    font-size: 12px;
    font-weight: 400;
    color: var(--indigo-dye);
}

.practice-lesson-list-add-lesson {
    padding: 10px 20px;
    border-radius: 1rem;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Nobel Uno', sans-serif !important;
    color: var(--indigo-dye);
    border: 2px solid var(--transparent-grey);
    margin-bottom: 10px;
    white-space: nowrap;
    width: min-content;
}

.practice-lesson-list-add-lesson:hover {
    background-color: var(--alice-blue);
    cursor: pointer;
}

.practice-lesson-item-updated-at {
    font-size: 12px;
    font-weight: 400;
    color: var(--indigo-dye);
}

.course-content-container {
    display: flex;
    width: 100%;
    padding: 0;
    gap: 75px;
    width: fit-content;
}

.course-content-left {
    flex: 0 0 45%;
}

.course-content-right {
    flex: 0 0 25%;
}

.auto-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.auto-flex > * {
    flex: 0 0 auto; /* don't grow, don't shrink, use auto size */
}

.lesson-plan-item {
    color: var(--alice-blue);
    height: 20px;
    min-width: 100px;
    padding: 5px 20px;
    max-width: 300px;
    font-weight: 600;
    color: var(--indigo-dye);
    background-color: var(--alice-blue);
    white-space: nowrap;         /* Prevent text from wrapping */
    overflow: hidden;            /* Hide overflow content */
    text-overflow: ellipsis;     /* Show ellipsis for overflow text */
    font-size: 17px;
    border-radius: 15px;
    border: 2px solid var(--quarter-grey);
}

.lesson-plan-item:hover {
    background-color: var(--alice-dark);
}

.lessons-view-all {
    font-size: 13px;
    font-weight: 600;
    color: var(--indigo-dye);
    margin-top: 10px;
    margin-left: 5px;
}

.practice-view-all {
    font-size: 13px;
    font-weight: 600;
    color: var(--indigo-dye);
    margin-top: 15px;
    margin-left: 5px;
}

.lesson-plan-item.add-new-lesson-plan {
    color: var(--baby-powder);
    background-color: var(--coral);
}

.lesson-plan-item.add-new-lesson-plan:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
}

.lesson-plan-list-title {
    font-size: 24px;
    font-weight: 800;
    font-family: 'Nobel Uno', sans-serif !important;
    margin-top: 40px;
    color: var(--indigo-dye);
    margin-bottom: 10px;
}

.vocab-list {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Nobel Uno', sans-serif !important;
    color: var(--indigo-dye);
    border-radius: 0.5rem;
    padding: 0px 30px;
    border: none;
    margin-top: 40px;
    width: 100%;
}

.vocab-bubble {
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
    text-align: center;
    max-width: 150px;
}

.vocab-bubble.input {
    background-color: white;
    color: var(--pink-faded);
    border: none;
    min-width: 50px;
    text-align: left;
}

.vocab-bubble.input::placeholder {
    color: var(--pink-faded);
    opacity: 0.7;
    text-align: center;
}

.vocab-bubble.add {
    background-color: var(--pink);
    color: var(--indigo-dye);
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.vocab-bubble.add:hover {
    background-color: var(--coral);
}

.vocab-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    border-radius: 10px;
    background-color: var(--pink);
    font-size: 14px;
    width: 100%;
    padding: 8px 0px;
    white-space: nowrap;
    overflow: hidden;
}

.vocab-word {
    margin-left: 10px;
    color: var(--coral);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 35%;
}

.vocab-definition {
    margin-right: 10px;
    color: var(--indigo-dye);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 35%;
}

.vocab-view-all {
    font-size: 13px;
    font-weight: 600;
    color: var(--coral);
    margin-top: 15px;
    margin-left: 5px;
}

.custom-instructions-container {
    padding: 0px 30px;
    border: none;
    margin-top: 40px;
    width: 100%;
}

.custom-instructions {
    border: none;
    margin-top: 20px;
    width: 100%;
    font-size: 14px;
    min-height: 100px;
    padding: 8px;
}

.custom-instructions-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--indigo-dye);
    margin-top: 0px;
}

.custom-instructions-input {
    font-family: inherit;
    font-size: 14px;
    color: var(--indigo-dye);
    background-color: white;
    width: 100%;
    min-height: 300px;
    max-height: 600px;
    padding: 8px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid var(--quarter-grey);
    background-color: var(--porcelain);
    resize: vertical;
}

.custom-instructions-input:focus {
    outline: none;
    border-color: var(--coral);
}

.notes-editor {
    padding: 0px 0px;
    border: 1.5px solid var(--indigo-dye);
    background-color: var(--white);
    border-radius: 12px;
    margin-top: 40px;
    width: 100%;
    height: max-content;
    margin-bottom: 40px;
    box-shadow: 0 4px 0 var(--indigo-dye);
    position: relative;
    padding: 5px;
    overflow-y: auto;
    max-height: 600px;
    overflow-x: hidden;
    min-width: 0px;
}

.folder-item {
    background: var(--baby-powder);
    border: none;
    font-family: 'Nobel Uno';
    color: var(--indigo-dye);
    font-size: 16px;
    font-weight: 600;
    outline: none;
    margin-left: 10px;
    align-items: center;
    padding: 2px;
}

.folder-item.input {
    margin: 0;
    padding: 0px;
    opacity: 0.75;
    outline: none;
}

.note-item {
    background: var(--baby-powder);
    border: none;
    font-family: 'Nobel Uno';
    color: var(--indigo-dye);
    font-size: 14px;
    font-weight: 400;
    outline: none;
    margin-left: 10px;
    align-items: 'center';
    padding: 2px;

}

.note-item.input {
    margin: 0;
    padding: 0px;
    opacity: 0.75;
    outline: none;
}

.item-actions {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.folder-item:hover .item-actions,
.note-item:hover .item-actions {
    opacity: 1;
}