.chat-input-container {
    height: 7.25rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chat-input-top {
    height: 50%;
    padding: 0.5rem;
}

.chat-input-field {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-y: auto;
    flex: 1;
    color: var(--indigo-dye);
    resize: none;
    min-height: 40px;
    max-height: 150px;
    font-family: 'Nobel Uno', sans-serif !important;
    font-weight: 500;
    font-size: 1.25rem;
    -webkit-scrollbar: none;  /* Safari and Chrome */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  
/* Hide webkit scrollbar */
.chat-input-field::-webkit-scrollbar {
    display: none;
}

.chat-input-bottom {
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.left-icons {
    display: flex;
}

.left-icons .icon {
    border-radius: 8px;
    padding: 0.35rem;
    transition: background-color 0.2s ease;
}

.left-icons .icon:hover {
    background-color: var(--alice-blue);
    cursor: pointer;
}

.left-icons .icon.inactive {
    opacity: 0.5;
}

.left-icons .icon.inactive:hover {
    opacity: 1;
}

.right-icons {
    display: flex;
    gap: 0.5rem;
    padding-bottom: 1.0rem;
}

.chat-icon {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}

.icon-with-background {
    background-color: var(--alice-dark);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.icon-with-background:hover {
    background-color: var(--alice-blue);
    cursor: pointer;
}