.course-box {
  background-color: var(--alice-dark);
  border-radius: 0.75rem;
  padding: 0.25rem 1rem;
  font-family: 'Nobel Uno', sans-serif !important;
  margin: 1rem 12.5%;
}

.ancorli-fonts {
    font-family: 'Ancorli', sans-serif !important;
}

.nobeluno-fonts {
    font-family: 'Nobel Uno', sans-serif !important;
}

.sidebar {
  width: 250px;
  background-color: var(--alice-blue) !important;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 10;
  top: 0;
  overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar-title {
  text-align: center;
  padding: 0 0;
  margin: 0;
  color: var(--indigo-dye);
  padding: 30px 0;
}

.sidebar-title-text {
  font-family: 'Ancorli', sans-serif !important;
  font-weight: 200;
  font-size: 30pt;
}

.courses-title {
  font-family: 'Nobel Uno', sans-serif !important;
  color: var(--half-grey);
  margin: 0 12.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.0rem;
}

.course-name {
    font-size: 18px;
    font-weight: 800;
    color: var(--indigo-dye);
    flex: 1;
}

.course-button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  color: var(--indigo-dye);
  font-size: 0.875rem;
  transition: background-color 0.2s;
  background: transparent;
  border: none;
}

.course-button:hover {
  background-color: var(--alice-blue) 
}

.text-truncate {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.courses-header {
    font-family: 'Nobel Uno', sans-serif !important;
    font-weight: 600;
    color: var(--half-grey);
}